---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="KuK Hofhackerei - Austria's CTF Merger Team">
  <Section title="Imprint" className={"w-fit m-auto"}>
    <p>Cyber Security Austria – Verein zur Förderung der Sicherheit Österreichs strategischer Infrastruktur</p>

    <p>Obmann: Josef Pichlmayr</p>
    <p>Sitz: Wien</p>
    <p>Zustelladresse: Blechturmgasse 11, 1050 Wien</p>
    <p>office@cybersecurityaustria.at</p>
    <p>ZVR-Zahl: 925928661PGP</p>
    <p>KEY: PE6D1 1046 4C30 304E 5368  293A 3F07 640E 389D 9984</p>
  </Section>
</Layout>
