---
type Props = {
  title: string;
  link: string;
};
const { title = "Title", link } = Astro.props;
---

<a
  class="bg-white flex items-center justify-center leading-none pt-2 pb-1 text-center select-none rounded-2xl px-5 font-semibold text-black w-fit hover:cursor-pointer"
  href={link}
  target="_blank"
>
  <span>{title}</span>
</a>
