---
import { Image } from "astro:assets";
import hofhackerei from "@/assets/hofhackerei.svg";
import { QUOTE, SITE_TITLE } from "@/consts";
---

<div class="hero-bg hidden md:block h-screen hero-bg-animate absolute top-0 overflow-hidden"></div>
<section
  class="h-screen !z-[20] relative w-full flex flex-col xl:flex-row justify-around items-center"
  id="hero"
>
  <div class="flex flex-col items-center">
    <h1 class="font-bold text-7xl text-center">{`<${SITE_TITLE} />`}</h1>
    <h2 class="text-2xl opacity-95">
      {QUOTE}
    </h2>
  </div>
  <Image
    alt="A two-headed eagle holding the digits 0 and 1 in its claws."
    src={hofhackerei}
    class="m-auto xl:m-0 w-2/3 xl:w-1/3"
  />
</section>

<script>
  function updateBgAnimate() {
    let hero_bg = document.querySelector(".hero-bg-animate");
    let binaryText = "";
    for (let i = 0; i < 1500; i++) {
      binaryText += Math.floor(Math.random() * 2).toString();
    }
    hero_bg.textContent = binaryText;
  }

  updateBgAnimate();

  document.addEventListener("DOMContentLoaded", () => {
    setInterval(() => updateBgAnimate(), 300);
  });
</script>
