---
type Props = {
  title: string;
  full_screen?: boolean;
  className?: string;
};
const {
  title = "SubSection",
  full_screen = false,
  className = "",
} = Astro.props;
---

<section
  id={title.toLowerCase().replaceAll(" ", "")}
  class={`${full_screen ? "h-screen" : ""} px-4 py-10 !overflow-x-hidden ${className}`}
>
  <div class="w-full grid place-items-center">
    <h3 class="text-4xl md:text-4xl text-center">{`<${title} />`}</h3>
  </div>
  <div class="w-full mt-10 px-4">
    <slot />
  </div>
</section>
